.bordep
{
  border: #000000 7px solid;
}
.info
{ 
  border-color:black;
  border-style: solid;
  border-width: 3px;
  padding: 20px;
  margin: 65px;
  background-color: blanchedalmond;
} 
.subtitulo
{ 
  border-color:black;
  border-style: solid;
  border-width: 4px;
  padding: 20px;
  margin: 65px;
  background-color: #2E6175;
  color: white;
} 
.subtitulouno
{ 
  border-color:black;
  border-style: solid;
  border-width: 4px;
  padding: 12px;
  margin: 50px;
  background-color: #2E6175;
  color: white;
} 